@page "/itemtype-list"

@if (_data.IsError)
{
    @switch (_data.FirstError.Code)
    {
        case "Task.Failed":
            <div class="alert alert-danger" role="alert">
                <p>
                    @_data.FirstError.Code
                </p>
                <p>
                    @_data.FirstError.Description
                </p>
            </div>
            break;
        case "Api.NotLoaded":
            <p>...loading</p>
            break;
    }
}
else
{
    <MudDataGrid Items="_data.Value">
        <Columns>
            <PropertyColumn Property="x => x.Name" Title="Name"></PropertyColumn>
            <TemplateColumn>
                <CellTemplate>
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync"/>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}